//------------------------------------------------------------------------------
// Constants
//------------------------------------------------------------------------------

$mainBodyFontSize: 16px;

$maxWidth: 1200px;
$tabletWidth: 960px;
$mobileWidth: 600px;

//------------------------------------------------------------------------------
// Element Rules
//------------------------------------------------------------------------------

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Helvetica, arial, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Times New Roman", georgia, serif;
}

// borders for debugging
div, section {
  border: 1px solid black;
}

//------------------------------------------------------------------------------
// Class Rules
//------------------------------------------------------------------------------

.app-wrapper {
  margin: 0 auto;
  max-width: $maxWidth;
  padding: 0.4rem;
}

.body-wrapper {
  display: flex;
}

.mobile-menu-btn {
  display: none;
}

.left-nav {
  width: 200px;
}

.stories-wrapper {
  flex: 1;
}

.inside-stories-wrapper {
  display: flex;
  flex-wrap: wrap;

  .other-stories {
    width: 33.33%;
  }
}

//------------------------------------------------------------------------------
// Tablet-ish
//------------------------------------------------------------------------------

// @media only screen and (max-width: $tabletWidth) {
//   .inside-stories-wrapper {
//     .other-stories {
//       width: 50%;
//     }
//   }
// }

//------------------------------------------------------------------------------
// Mobile Rules
//------------------------------------------------------------------------------

@media only screen and (max-width: $mobileWidth) {
  html {
    font-size: 12px;
  }

  header {
    display: flex;
  }

  .btn-wrapper {
    flex: 10;
  }

  .header-txt {
    flex: 90;
  }

  .mobile-menu-btn {
    align-self: center;
    background-color: white;
    display: block;
    padding: 0.4rem;
    border: 1px solid blue;
    border-radius: 4px;
    cursor: pointer;
  }

  .body-wrapper {
    flex-direction: column;
  }

  .left-nav {
    display: none;
    width: auto;
  }

  .inside-stories-wrapper {
    flex-direction: column;

    .other-stories {
      flex: 1;
      width: auto;
    }
  }
}
